//
   Created by AlbertoTsang on 10/4/17.
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        p #{output}

